.App{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	height: 100vh;
}
h1{
	text-align: center;
}
label{
	display: block;
	margin-bottom: 10px;
}
input{
	border: 1px solid #d7d7d7;
	border-radius: 8px;
	padding:10px 5px;
	width:400px;
	margin-bottom: 15px;
}

button{
	display: block;
	width:100%;
	padding: 10px;
	border-radius: 8px;
	border: none;
	background-color: #9B55FF;
	color: #fff;
	font-size: 20px;
	transition: all 0.5s ease;
}
button:hover{
	background-color: #9044fb;
	transition: all 0.5s ease;
}
button:disabled{
	background-color: #ccc;
	cursor: not-allowed;
}
.error{
	color: red;
	font-size: 12px;
	margin-bottom: 10px;
}
